<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>


</head>
<body>
{{> navbar}}


<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Нужно обрезать изображение перед загрузкой</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="" id="sample_image"/>
                            </div>
                            <div class="col-md-4">
                                <div class="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="crop" class="btn btn-primary">Crop</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-of-collections container" style="max-width: 740px">
    {{#if collections.length}}
        <li class="li-collections">
            <ul style="padding-left: 0px">
                {{#each collections}}
                    <a href="collection/{{_id}}" class="link-of-collection">
                        <div class="sign-collection">
                            <h3 class="name-of-collection">{{name}}</h3>
                            <div class="information-of-collection">
                                <div class="image-of-collection mx-auto"><img src="{{image_path}}" alt=""
                                                                              class="img-fluid"></div>
                                <div class="text-of-collection">

                                    <p class="description-of-collection">{{description}}</p>
                                </div>

                            </div>
                        </div>
                    </a>
                {{/each}}
            </ul>
        </li>
    {{else}}
        <h3>Ни одной коллекции не добавлено!</h3>
    {{/if}}

</div>

</body>
{{> footer}}

</html>